@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);

.Top_image img{
    position: absolute;/*相対配置*/      
    width:280px;                                   /* 横幅のサイズを指定    */
    height:280px;                                 /* 縦幅のサイズを指定    */    
    top:  3px;
    left: 60px;
    transform: rotate(-20deg);
}

.Top_image2 img{
    position: absolute;/*相対配置*/      
    width:500px;                                   /* 横幅のサイズを指定    */
    height:550px;                                 /* 縦幅のサイズを指定    */    
    top:  -120px;
    left: 1100px;
    transform: rotate(4deg);
}

.back_image img{
    position: relative;/*相対配置*/
    background-repeat: repeat;                /* 画像の繰り返しを指定  */            
    opacity: 0.3;
    width:1495px;                                   /* 横幅のサイズを指定    */
    height:1050pX;                                 /* 縦幅のサイズを指定    */    
}
.back_image p{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 600;
    font-family:'Noto Sans Japanese';
    top:  250px;
    left: 20px;   
}
h1 {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
    position: relative;
    color: white;
    background: #81d0cb;
    padding: 0.5em 5.5em 0.5em 5.5em;
    font-size: 3em;
    font-family:'Noto Sans Japanese';
}
.Change_red{
    color: rgb(201, 0, 0);
    font-size: 1.5em;
}
.A_Sound{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow:3px 3px 3px rgb(255, 255, 255);
    position: relative;
    color: rgb(26, 0, 59);
    font-size: 3em;
    font-weight: 900;
    font-family:'Noto Sans Japanese';
    top: -1000px;
    left: 20px;  
}
#A_Sound{

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 8px solid rgb(255, 255, 255);
    background-color: rgb(0, 119, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 600px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    top: 380px;
    left: 60px;
}
.S_Sound{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow:3px 3px 3px rgb(255, 255, 255);
    position: relative;
    color: rgb(26, 0, 59);
    font-size: 3em;
    font-weight: 900;
    font-family:'Noto Sans Japanese';
    top: -1070px;
    left: 880px;  
}
#S_Sound{

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 8px solid rgb(255, 255, 255);
    background-color: rgb(0, 119, 255);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 600px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    top: 380px;
    left: 850px;
}
.start{
    text-align: center;
    position: absolute;
    top: 620px;
    left: 550px;
    width: 400px;
    margin: auto;
    font-size: 5em;
    font-weight: 600;
    font-family:'Noto Sans Japanese';
    background-color: #fcfcfc;
    border: 6px outset #b9000e;
}
.start:hover{
    background-color: hsla(175, 100%, 53%, 0.404);
    border: 6px outset #0084b9;
}
#label-container{
    text-align: center;
}
#canvas{
    text-align: center;
    position: absolute;
    top: 950px;
    left: 620px;
    margin: auto;
}
h2{
    position: absolute;
    line-height: 0.8em;
    top: 1350px;
}
#camback{
    width: auto;
    height: 580px;
    position: absolute;
    top: 760px;
    left: 245px;
    margin: auto;
}
.five{
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: 200px;
 height: 200px;
 font-size: 2em;
 font-weight: 600;
 font-family:'Noto Sans Japanese';
 background: rgb(0, 255, 55);
 border-radius: 50%;
 color: #111111;
 overflow: hidden;
 top: 760px;
 left: 1290px;
 border: 6px outset #000000;
}
.five:active{
 -webkit-transform: translateY(5px);
 transform: translateY(5px);
 border-bottom: none
}
.ten{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 2em;
    font-weight: 600;
    font-family:'Noto Sans Japanese';
    background: rgb(0, 255, 55);
    border-radius: 50%;
    color: #111111;
    overflow: hidden;
    top: 1000px;
    left: 1290px;
    border: 6px outset #000000;
}
.ten:active{
   -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none
}
.resetb{
    text-align: center;
    position: absolute;
    top: 580px;
    left: 1245px;
    width: 200px;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
    font-family:'Noto Sans Japanese';
    background-color: #fcfcfc;
    border: 6px outset #2800b9;
}
.resetb:active{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom: none   
}
.clock{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 580px;
    left: 1200px;
    width: 280px;
    font-size: 4em;;
    font-family: 'Oleo Script Swash Caps';
    background-color: aliceblue;
    border: 6px outset #000000;
}
.reference{
    position: absolute;
    line-height: 0.8em;
    top: 2100px;  
}


  
